h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
ul, 
ol, 
blockquote {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background-color: #1e1e1e;
	font-family: 'Inter', sans-serif;
}

.content-section {
	box-sizing: border-box;
	width: 100%;
	max-width: 360px;
	margin: auto;
}

.content-section_theme_dark {
	color: #fff;
	background-color: #131313;
}

.content-section_theme_bright {
	color: #131313;
	background-color: #fee42a;
}

.header {
	padding: 24px 20px;
	display: flex;
	justify-content: space-between;
}

.header__logo {
	display: block;
	width: 79px;
}
.header__logo-image {
	width: 100%;
}
.header__menu {
}
.header__menu-list {
	display: flex;
	flex-direction: column;
	gap: 12px;
	list-style: none;
}

.header__menu-link {
	text-decoration: underline;
	font-size: 16px;
	line-height: 19px;
	color: #fff;
}

.header__menu-item_active .header__menu-link {
	text-decoration: none;
}

.cover {
	padding: 7px 24px 0 20px;
	background-image: url(../images/cover.svg);
	background-size: 95% auto;
	background-repeat: no-repeat;
	background-position: right center;
	min-height: 258px;
}

.cover__title {
	width: 100%;
	font-family: 'EB Garamond', serif;
	font-size: 72px;
	line-height: 1;
	font-weight: 400;
}

.accent-span {
	display: block;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: end;
}

.intro {
	padding: 30px 20px 38px;
}

.reasons {
	padding: 40px 20px;
}

.how-to {
	padding: 40px 20px 60px;
}

.footer {
	padding: 20px;
}